@tailwind base;
@tailwind components;
@tailwind utilities;

/* WebKit scrollbar styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1;
}

/* Firefox scrollbar styles */
body {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: #e1e1e1 #ffffff; /* thumb and track colors */
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #d1d1d1;
}
