.bg-primary {
  background-color: $primary;
}

.bg-secondary {
  background-color: $secondary;
}

.bg-success {
  background-color: $green;
}

.bg-warning {
  background-color: $orange;
}

.bg-danger {
  background-color: $red;
}

.bg-lightergrey {
  background-color: $lightergrey;
}

.bg-lightgrey {
  background-color: $lightgrey;
}
