.text-primary {
  color: $primary;
}

.text-secondary {
  color: $secondary;
}

.text-success {
  color: $green;
}

.text-warninge {
  color: $orange;
}

.text-danger {
  color: $red;
}

.text-lightergrey {
  color: $lightergrey;
}

.text-lightgrey {
  color: $lightgrey;
}
